.title {
  font-weight: bold;
  font-size: 50px;
  font-family: Helvetica;
  text-align: left;
}

.about-me {
  font-size: 25px;
  font-family: Helvetica;
  text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #4DD0E1;
    margin-right: 825px;
    padding: 0;
}

.header {
  margin-bottom: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

img {
  width: 100%;
  height: auto;
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.section-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #4DD0E1;

  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.section-image {
  line-height: 0;
}

.section:hover .section-title {
  opacity: 1;
}

.section-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.section:hover .section-image img {
  filter: blur(2px);
  opacity: 0.5;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4DD0E1;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: Helvetica;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.menu:hover {
  color: #4DD0E1;
}

.carousel {
  margin-top: 20px;
}

.carousel-item {
  text-align: center;
}

.carousel-container {
  margin: 100px;
}

.carousel-background {
  background-color: #4DD0E1;
}

.carousel-caption h5 {
  font-weight: bold;
  font-size: 50px;
  font-family: Helvetica;
  color: white;
}

.carousel-caption p {
  font-weight: bold;
  font-size: 25px;
  font-family: Helvetica;
  color: white;
}
