.main-colour {
  background-color: #89ABE3;
}

.secondary-colour {
  background-color: #F2DDDE;
}

.no-padding {
  padding: 0;
}

.no-border {
  border-width: 0;
}

.text-center {
  text-align: center;
}

.title-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.italics {
  font-style: italic;
}

.link-colour {
  color: #F2DDDE;
  font-size: 25px;
}

.column-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.06);
}
